.placement-container {
  background-color: aliceblue;
  padding: 50px;
  margin-top: 20px;
  height: 50%;
  margin-bottom: 30px;
}

.main-heading {
  text-align: center;
}

.instruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 30px;
}

.instruction-heading {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.instinstruction-discript {
  font-size: 20px;
}
